@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: #6C63FF;
}


.box {
    position: relative;
    display: flex;
    flex-direction: row;
    background: #fff;
    padding: 50px 15px;
    width: 800px;
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
    animation: show 1s;
}

.left {
    width: 50%;
    margin: auto;
 }

.left > img {
    width: 100%;
    text-align: center;
    animation: slide 1s;
}
form {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:auto;
    animation: slide 1.1s;
}

form label {
    font-size: small;
}

form > h2 {
    margin-bottom: 5px;
}

.logo {
    color:#6C63FF;
}

.input-box {
    position: relative;
    margin-top: 20px;
}

.input-box > input {
    width: 80%;  
    height: 40px;
    border:2px solid #616161;
    border-radius: 20px;
    outline: none;
    font-size: small;
    padding-left: 20px;
    transition: .2s;
    font-size:1rem;
}

.input-box > input:focus,
.input-box > input:valid {
    border:2px solid #6C63FF;
}

.input-box > label{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:55px;
    pointer-events: none;
    font-size: 14px;
    transition: .2s;
    color:#616161;
    
}

input:focus ~ label,
input:valid ~ label {
    color:#6C63FF;
    font-size: 12px;
    top:0;
    background: #fff;
    padding-inline:3px ;
}

.input-box > i {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 55px;
    color:#616161;
    
}
input:focus ~ i,
input:valid ~ i {
    color:#6C63FF;
}

.items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    font-size: 12px;
    padding-inline: 40px;
}

.left {
    display: flex;
    align-items: center;
    gap:5px;
}


button {
    width: 80%;
    background: #6C63FF;
    padding: 10px 30px;
    border: 1px solid transparent;
    color:#fff;
    border-radius: 100vmax;
    margin-top: 20px;
    cursor: pointer;
    transition: .2s;
    font-size: 1rem;
    letter-spacing: 1px;
}

button:hover {
    background: transparent;
    border: 1px solid #6C63FF;
    color:#6C63FF;
}

.other-links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}


.social {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}

.social > a {
    width: 45px;
    height: 45px;
    background: #6C63FF;
    text-align: center;
    text-decoration: none;
    margin: 0 5px;
    transition: .2s;
    border-radius: 100vmax;
}

.social > a:hover {
    transform: scale(1.1);
}

.social > a > .fa-brands {
    font-size: 20px;
    line-height: 45px;
    color:#fff;
}

.social > a:first-child {
    background: #e74133;
}

.social > a:nth-child(2) {
    background: #3961ba;
}

.social > a:nth-child(3) {
    background: #229aef;
}

.social > a:last-child {
    background: #202020;
}





@keyframes show {
    from {
        opacity: 0;
    }

    to { 
        opacity: 1;
    }
}

@keyframes slide {
    from {
        opacity: 0;
        transform: translateY(-200%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width:700px) { 
    .box {
        width: 90%;
    }

}

@media screen and (max-width:600px) {
     
    .box {
        width: 90%;
        flex-direction: column;
        gap:40px;
     }

    form {
            width: 100%;
    }

    .input-box > input {
        font-size: .8rem;
    }

}

    @media screen and (max-width:400px) {
        .box {
            width: 80%;
            padding-block: 30px;
         }

       
}